@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "@fontsource-variable/bricolage-grotesque";

@import "tailwindcss";

@theme {
  --background: #ffffff;
  --font-bricolage: "Bricolage Grotesque Variable", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-btGray: #e5e5e5;
  --color-btBlue: #4538cb;
  --color-primary: #191919;
  --color-gray: #6e6e6e;
  --color-btext: #7d7d7d;
  --color-cardBg: #fbfbfb;
  --color-sLine: #e5e5e5;
  --color-tLine: #eaeaea;
  --color-unavail: #b1b1b1;
  --color-theadBg: #f8f8f8;
  --color-success: #2ecc71;
  --color-headBg: #eeedff;
  /* dashboard */
  --color-tabBg1: #ececec;
  --color-pointBg: #ecebfa;
  --color-cardBg3: #fbfbfb;
  --color-pointStroke: #dad7f5;
  --color-tabBg2: #eeeeee;
  --color-Green: #2ecc71;
  --color-msgbg1: #f2f2f2;
  --color-bgBronze: #cd7f32;
  --color-bgSilver: #c0c0c0;
  --color-bgGold: #d2b203;
  --text-xxs: 10px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.bg-svg {
  background-image: url("/vga-kinetic-export.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tab-bg {
  background: linear-gradient(90deg, #f3f2ff 49%, #f0efff 46%);
}

.btn-bg {
  background: linear-gradient(to right, #5749e9, #372da2);
}
